.navbar-container {
    position: fixed;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);

    width: calc(100% - 32px);
    max-width: 450px;

    height: 72px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: var(--bg-surface);

    border-radius: 24px;

    box-shadow: 0 10px 30px var(--shadow-medium);

    z-index: 1000;
}


.navbar-item {
    flex: 1;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;

    background: none;
    border: none;

    color: var(--text-muted);

    cursor: pointer;

    transition: all 0.2s ease;
}


/* .navbar-item span {
    font-size: 22px;
    line-height: 1;
} */


.navbar-item small {
    font-size: 12px;
    font-weight: 600;
}



/* .navbar-item:hover {
    color: var(--theme-primary);
} */


.navbar-item.active {
    color: var(--theme-primary);
}


.navbar-item.active span {
    transform: translateY(-2px);
}

.navbar-item svg {
    width: 24px;
    height: 24px;
}

/* =========================================
   NAVBAR BADGES
   ========================================= */

.icon-with-badge {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.icon-with-badge svg {
    width: 24px;
    height: 24px;
}


/* Base Badge */
.badge {
    position: absolute;

    top: -6px;
    right: -32px;

    min-width: 22px;
    height: 22px;

    padding: 0 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 999px;

    background-color: red;
    color: white;

    font-size: 14px;
    font-weight: 700;
    line-height: 1;

    border: 2px solid var(--bg-surface);

    box-sizing: border-box;

    transition: transform 0.2s ease;
}


/* Einzelne Ziffern: echter Kreis */
.badge.single-digit {
    width: 23px;
    min-width: 22px;
    padding: 0;
    right: -21px;
    border-radius: 50%;
}


/* 10-99: etwas größerer Kreis */
.badge.double-digit {
    /* widsth: 34px; */
    min-width: 26px;
    height: 22px;

    padding: 0 7px;

    border-radius: 999px;
}


/* 99+: Pille */
.badge.max {
    /* min-width: 25px; */
    height: 22px;
    right: -45px;
    padding: 0 7px;

    border-radius: 999px;
}


/* Optional: kleines Pop-Feedback */
.badge:hover {
    transform: scale(1.1);
}